$LightCyan:hsl(193, 38%, 86%);
$NeonGreen:hsl(150, 100%, 66%);
$NeonGreenHover:hsla(150, 75%, 37%, 0.636);
$GrayishBlue: hsl(216, 19%, 34%);
$DarkGrayisBlue: hsl(221, 20%, 18%);
$DarkBlue: hsl(216, 23%, 9%);