$LightCyan:hsl(193, 38%, 86%);
$NeonGreen:hsl(150, 100%, 66%);
$NeonGreenHover:hsla(150, 100%, 50%, 0.636);
$GrayishBlue: hsl(217, 19%, 38%);
$DarkGrayisBlue: hsl(220, 19%, 21%);
$DarkBlue: hsl(218, 23%, 16%);