@use '../styles/co' as *;
@use '../styles/style.scss' as *;

.card {
    max-width: 700px;
    height: 370px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $DarkGrayisBlue;
    position: relative;

    @include for-size(small) {
        max-width: 380px;
    }

    & .card__content {
        height: 100%;
        padding: 0 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        @include for-size(small) {
            padding: 0 40px;
            max-width: 380px;
        }

        & .card__title {
            font-size: 1rem;
            letter-spacing: 3px;
            color: $NeonGreen;
        }

        & .card__paragraph {
            text-align: center;
            font-size: 1.7rem;
            color: $LightCyan;
            line-height: 40px;

            @include for-size(small) {
                font-size: 1rem;
            }
        }

        & .card__icon {
            width: 600px;
            user-select: none;

            @include for-size(small) {
                width: 90%;
                margin-bottom: 20px;
            }

        }

        & .card__containerButton {
            position: absolute;
            bottom: 0;
            transform: translateY(50%);
            background-color: $NeonGreen;
            display: grid;
            place-content: center;
            padding: 15px;
            border-radius: 50%;
            cursor: pointer;
            user-select: none;

            &:hover {
                -webkit-box-shadow: 1px 0px 77px 23px $NeonGreen;
                -moz-box-shadow: 1px 0px 77px 23px $NeonGreen;
                box-shadow: 1px 0px 77px 23px $NeonGreen;
            }

            & .card__button {
                width: 30px;
                cursor: pointer;
                user-select: none;

                @include for-size(small) {
                    width: inherit;
                }
            }

        }










    }

}