@use '../styles/co';

.card {
    max-width: 750px;
    height: 400px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: co.$DarkGrayisBlue;
    position: relative;

    & .card__content {
        height: 100%;
        padding: 0 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        & .card__title {
            margin: -10px;
            font-size: 1rem;
            letter-spacing: 3px;
            color: co.$NeonGreen;
        }

        & .card__paragraph {
            margin-top: -30px;
            text-align: center;
            font-size: 1.7rem;
            color: co.$LightCyan;
            line-height: 40px;
        }

        & .card__icon {
            width: 600px;
            margin-top: -20px;
            user-select: none;

        }

        & .card__containerButton {
            position: absolute;
            bottom: 0;
            transform: translateY(50%);
            background-color: co.$NeonGreen;
            display: grid;
            place-content: center;
            padding: 15px;
            border-radius: 50%;
            cursor: pointer;
            user-select: none;

            &:hover{
                background-color: co.$NeonGreenHover;
            }
            & .card__button {
                cursor: pointer;
                user-select: none;


            }

        }










    }

}